.autocomplete {
  max-width: 900px;
  width: 95%;
  border-radius: 7.5px;
  background-color: var(--color-bg-secondary-150);
  z-index: 10;
  margin-top: 100px;
}

.autocomplete .header {
  padding: 18px;
}

.autocomplete .content {
  border-top: 1px solid var(--color-neutral-350);
  padding: 10px;
  overflow-y: auto;
  max-height: 500px;
}

.autocomplete .content.loading {
  overflow-y: hidden;
}

.autocomplete .content .loader-wrapper {
  height: 500px;
  overflow-y: hidden;
}

.autocomplete .content .loader-wrapper.hidden {
  display: none;
}

@media (max-width: var(--mobile-max)) {
  .autocomplete {
    width: 100%;
    height: 100%;
  }
}
