.autocomplete {
  max-width: 900px;
  width: 95%;
  border-radius: 7.5px;
  background-color: var(--color-bg-secondary-150);
  z-index: 10;
  margin-top: 50px;
}

.autocomplete .header {
  padding: 18px;
}

.autocomplete .content {
  border-top: 1px solid var(--color-neutral-350);
  padding: 10px;
  overflow-y: auto;
  max-height: 500px;
}

.autocomplete .content.hidden,
.autocomplete .content .loader-wrapper.hidden {
  display: none;
}

.autocomplete .content.loading {
  overflow-y: hidden;
}

.autocomplete .content .loader-wrapper {
  height: 500px;
  overflow-y: hidden;
}

.autocomplete .content .empty {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
}

.autocomplete .content .empty i {
  font-size: 14px;
  color: var(--color-neutral-300);
}

.autocomplete .content .empty .title {
  color: var(--color-neutral-300);
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .autocomplete {
    margin-top: 20px;
  }
}
