:root {
  --color-neutral-100: #ffffff;
  --color-neutral-200: #f8f8f8;
  --color-neutral-300: #888888;
  --color-neutral-400: #333333;
  --color-neutral-500: #000000;

  --color-bg-primary-100: #20292f;
  --color-bg-secondary-100: #353f46;
}
