:root {
  --color-neutral-100: #ffffff;
  --color-neutral-200: #f8f8f8;
  --color-neutral-300: #888888;
  --color-neutral-350: #8888887a;
  --color-neutral-400: #333333;
  --color-neutral-500: #000000;

  --color-bg-primary-100: #20292f;
  --color-bg-secondary-100: #384248;
  --color-bg-secondary-150: #353f467e;

  --color-accent-100: #153478;
  --color-accent-150: #153478ac;
  --color-accent-200: #4881fce6;

  --mobile-breakpoint: 600px;
  --tablet-breakpoint: 900px;
}
